<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <p>
    <h1>Welcome to
      <%= title %>
    </h1>
  </p>
  <p>
    <h2>Inventors List</h2>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Year</th>
      </tr>
      <% inventors.forEach(function(inv){ %>
        <tr>
          <td>
            <%= inv.first %>
          </td>
          <td>
            <%= inv.last %>
          </td>
          <td>
            <%= inv.year %>
          </td>
        </tr>
        <% }); %>
    </table>
</body>

</html>